---
layout: default
title: CodeCrib - Home
redirect_from:
  - default.aspx.html
---

	<div class="Main_Listing_Column">
		<span class="Main_Header">Latest Blog Posts</span><br/>
            {% include daxmusings.html %}
		<br/>
		<span class="Main_Header">Newsworthy</span><br/>
            {% include newsworthy.html %}
		<br/>
		<span class="Main_Header">Read &amp; Recommended</span><br/>
            {% include readandrecommended.html %}
		<br/>
	</div>
	
	<div class="Main_Listing_Column">
		<span class="Main_Header">Upcoming Events</span><br/>
            
        <div class="lanyrd-target-splat"><a href="http://lanyrd.com/profile/jorisdg/"
            class="lanyrd-splat lanyrd-number-5 lanyrd-type-all lanyrd-context-future lanyrd-template-compact" rel="me">- See conferences on Lanyrd</a></div>

		<br/>
		<span class="Main_Header"><a href="https://twitter.com/#!/jorisdg">Twitter Feed</a></span><br/>
			<a class="twitter-timeline" href="https://twitter.com/jorisdg" data-dnt="true" data-widget-id="452506337167962113">Tweets by @jorisdg</a>
            <script type="text/javascript" src="twitter.js"></script>
		<br/>
	</div>
  
  <script src="http://cdn.lanyrd.net/badges/person-v1.min.js"></script>
