---
layout: default
title: CodeCrib - Home
redirect_from:
  - default.aspx.html
---

	<div class="Main_Listing_Column">
		<span class="Main_Header">Latest Blog Posts</span><br/>
            {% for daxmusingspost in site.data.daxmusings limit: 10 %}
		<a href="{{ daxmusingspost.URL }}">{{ daxmusingspost.Title }}</a><br/>
		{% endfor %}
		<br/>
		<span class="Main_Header">Newsworthy</span><br/>
            {% for newsitem in site.data.newsworthy limit: 10 %}
		<a href="{{ newsitem.URL }}">{{ newsitem.Title }}</a><br/>
		{% endfor %}
		<br/>
		<span class="Main_Header">Read &amp; Recommended</span><br/>
            {% for readitem in site.data.readandrecommended limit: 10 %}
		<a href="{{ readitem.URL }}">{{ readitem.Title }}</a><br/>
		{% endfor %}
		<br/>
	</div>
	
	<div class="Main_Listing_Column">
		<span class="Main_Header">Upcoming Events</span><br/>
            {% for event in site.data.events limit: 10 %}
		{{ event.Date }} - <a href="{{ event.URL }}">{{ event.Title }}</a><br/>
		{% endfor %}
		<br/>
	</div>
