<a href="http://daxmusings.codecrib.com/2016/05/design-compile-run-part1-2012-paradigms.html">Design-Compile-Run Part1: 2012 Paradigms</a><br />
<a href="http://daxmusings.codecrib.com/2016/04/design-compile-run-intro.html">Design-Compile-Run Intro</a><br/>
<a href="http://daxmusings.codecrib.com/2016/03/the-new-dynamics-ax-content.html">(The New) Dynamics AX - Content</a><br/>
<a href="http://daxmusings.codecrib.com/2015/09/general-update.html">General Update</a><br />
<a href="http://daxmusings.codecrib.com/2014/11/ax2012-extension-framework.html">AX2012 Extension Framework</a><br />
<a href="http://daxmusings.codecrib.com/2014/10/axug-summit-in-st-louis.html">AXUG Summit in St. Louis</a><br />
<a href="http://daxmusings.codecrib.com/2014/08/tfs-build-library-hotfix-update-beta-of.html">TFS Build Library "Hotfix" Update - Beta of AX2009 TFS Library</a><br />
<a href="http://daxmusings.codecrib.com/2014/08/admin-and-tfs-utilities-for-ax-2009.html">Admin and TFS utilities for AX 2009</a><br />
<a href="http://daxmusings.codecrib.com/2014/04/easy-automated-builds-part-3.html">Easy Automated Builds - Part 3</a><br />
<a href="http://daxmusings.codecrib.com/2014/04/easy-automated-builds-part-2.html">Easy Automated Builds - Part 2</a><br />
<a href="http://daxmusings.codecrib.com/2014/04/easy-automated-builds-part-1.html">Easy Automated Builds - Part 1</a><br />
<a href="http://daxmusings.codecrib.com/2014/01/how-we-manage-development-automated.html">How We Manage Development - Automated Builds</a><br />
<a href="http://daxmusings.codecrib.com/2013/11/what-you-need-to-know-about-15-minute.html">What You Need To Know About the 15-minute CU7 Compiler</a><br />
<a href="http://daxmusings.codecrib.com/2013/09/linq-to-ax-example-using-wpf.html">Linq to AX Example using WPF</a><br />
